{% extends 'base.html.twig' %}

{% block title %}eXeLearning{% endblock %}

{% block stylesheets %}
    {# eXeLearning styles #}
    <link class="exe" rel="stylesheet" href="{{ asset('libs/bootstrap/bootstrap.min.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('style/workarea/main.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('style/workarea/base.css') }}">
    {# Legacy/Common styles #}
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_effects/exe_effects.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_games/exe_games.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_highlighter/exe_highlighter.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_lightbox/exe_lightbox.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_media/exe_media.css') }}">
    <link class="exe" rel="stylesheet" href="{{ asset('app/common/exe_wikipedia/exe_wikipedia.css') }}">
{% endblock %}

{% block javascripts %}
    {# External libs #}
    <script class="exe" src="{{ asset('libs/jquery-ui/jquery-ui.min.js') }}" defer></script>
    <script class="exe" src="{{ asset('libs/bootstrap/bootstrap.bundle.min.js') }}" defer></script>
    <script class="exe" src="{{ asset('libs/multi-dropdown.js') }}" defer></script>
    <script class="exe" src="{{ asset('libs/interact/interact.min.js') }}" defer></script>
    <script class="exe" src="{{ asset('libs/showdown/showdown.min.js') }}" defer></script>
    {# eXeLearning common legacy objects #}
    <script class="exe" type="module" src="{{ asset('app/common/app_common.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/common_i18n.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/common_edition.js') }}"></script>
    <script class="exe" src="{{ asset('app/common/common.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_effects/exe_effects.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_games/exe_games.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_highlighter/exe_highlighter.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_lightbox/exe_lightbox.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_media/exe_media.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/common/exe_math/tex-mml-svg.js') }}" defer></script>
    {# To review: Scripts for plugins in development #}
    <script class="exe" src="{{ asset('app/common/fix_webm_duration/fix_webm_duration.js') }}" defer></script>
    <script class="exe" src="{{ asset('libs/abcjs/exe_abc_music.js') }}" defer></script>
    {# Controller JS values #}
    <script class="exe">
        window.eXeLearning = {
            version: "{{ constant('App\\Constants::APP_VERSION' ) }}",
            expires: "{{ constant('App\\Constants::DEMO_EXPIRATION_DATE' ) }}",
            extension: "{{ constant('App\\Constants::FILE_EXTENSION_ELP' ) }}",
            user: "{{ user | json_encode }}",
            config: "{{ config | json_encode }}",
            symfony: "{{ symfony | json_encode }}",
            mercure: "{{ mercure | json_encode }}",
        }
    </script>
    {# TinyMCE #}
    <script class="exe" src="{{ asset('libs/tinymce_5/js/tinymce/tinymce.min.js') }}" defer></script>
    <script class="exe" src="{{ asset('app/editor/tinymce_5_settings.js') }}" defer></script>
    {# eXeLearning app #}
    <script class="exe" type="module" src="{{ asset('app/app.js') }}"></script>
{% endblock %}

{% block id %}main{% endblock %}
{% block body %}
    <div id="load-screen-main" class="load-screen loading position-fixed top-0 start-0 w-100 h-100 align-items-center justify-content-center bg-white" style="z-index: 1050;" data-testid="loading-main" data-visible="true">
        <span>eXeLearning {{ constant('App\\Constants::APP_VERSION') }}</span>
    </div>
    <div id="workarea" class="container-fluid d-flex flex-nowrap">
        <aside class="asideleft col-md-4 col-lg-3 bg-light vh-100">
            <div class="content-info">
                <!--div id="exe-logo">
                    <img src="style/workarea/images/exelearning.svg" class="exe-logo content" alt="eXeLearning">
                </div-->
                <div id="exe-title" class="title-not-editing">
                    <h2 class="exe-title content" id="change_title">...</h2>
                    <button class="btn button-square button-tertiary tertiary-green title-menu-button exe-app-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ "Change title" | trans }}" aria-label="{{ "Change title" | trans }}">
                        <span class="exe-icon small-icon edit-icon-green"></span>
                    </button>
                </div>
            </div>
            <div class="accordion" id="menus_content">
                {% include 'workarea/menus/menuStructure.html.twig' %}
                {% include 'workarea/menus/menuIdevices.html.twig' %}
            </div>
        </aside>
        <main>
            <header id="head">
                <nav class="navbar bg-transparent">
                    {% include 'workarea/menus/menuHeadTop.html.twig' %}
                    {% include 'workarea/menus/menuHeadBottom.html.twig' %}
                </nav>
            </header>
            <section id="node-content-container" class="exe-content js flex-grow-1 d-flex flex-column">
                <div id="load-screen-node-content" class="load-screen hide" data-testid="loading-content" data-visible="false"></div>
                <div id="node-content" class="content" drop='["idevice","box"]' data-testid="node-content" data-ready="false">
                    <div class="page-header">
                        <div id="header-node-content" class="header"></div>
                        <h1 id="page-title-node-content" class="page-title" data-testid="page-title"></h1>
                    </div>
                </div>
                {# Idevices bottom menu #}
                <div id="idevices-bottom" class="idevices-bottom-menu" data-testid="idevices-quickbar">

                </div>
            </section>
        </main>
    </div>
    {# styles sidebar #}
    <div id="stylessidenav-content" class="relative z-50 navbar-menu">
        <div id="sidenav-overlay"  class="sidenav-overlay"></div>
        <aside id="stylessidenav" class="sidenav" role="complementary">
            <div class="content-styles-header">
                <h1 class="styles-title">
                    {{ "Styles" | trans }}
                </h1>
                <div id="stylessidenavclose" class="navbar-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M15 5L5 15M5 5L15 15" stroke="black" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="content-tabs">
                <ul class="nav nav-tabs{% if config.userStyles == false %} d-none{% endif %}" id="styleslist" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="exestylescontent-tab" data-bs-toggle="tab" data-bs-target="#exestylescontent" type="button" role="tab" aria-controls="exestylescontent" aria-selected="true">
                            {{ "System" | trans }}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="importedstylescontent-tab" data-bs-toggle="tab" data-bs-target="#importedstylescontent" type="button" role="tab" aria-controls="importedstylescontent" aria-selected="false">
                            {{ "Imported" | trans }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content mt-3" id="styleslistContent">
                <div class="tab-pane fade show active" id="exestylescontent" role="tabpanel" aria-labelledby="exestylescontent-tab" tabindex="0">
                </div>
                <div class="tab-pane fade" id="importedstylescontent" role="tabpanel" aria-labelledby="importedstylescontent-tab">
                </div>
            </div>
        </aside>
    </div>

    {# Modals #}
    <div class="modals-container">
        {% include 'workarea/modals/generic/modalAlert.html.twig' %}
        {% include 'workarea/modals/generic/modalInfo.html.twig' %}
        {% include 'workarea/modals/generic/modalConfirm.html.twig' %}
        {% include 'workarea/modals/generic/modalSessionLogout.html.twig' %}
        {% include 'workarea/modals/pages/uploadtodrive.html.twig' %}
        {% include 'workarea/modals/pages/uploadtodropbox.html.twig' %}
        {% include 'workarea/modals/pages/filemanager.html.twig' %}
        {% include 'workarea/modals/pages/stylemanager.html.twig' %}
        {% include 'workarea/modals/pages/idevicemanager.html.twig' %}
        {% include 'workarea/modals/pages/odebrokenlinks.html.twig' %}
        {% include 'workarea/modals/pages/odeusedfiles.html.twig' %}
        {% include 'workarea/modals/pages/lopd.html.twig' %}
        {% include 'workarea/modals/pages/assistant.html.twig' %}
        {% include 'workarea/modals/pages/releasenotes.html.twig' %}
        {% include 'workarea/modals/pages/legalnotes.html.twig' %}
        {% include 'workarea/modals/pages/about.html.twig' %}
        {% include 'workarea/modals/pages/properties.html.twig' %}
        {% include 'workarea/modals/pages/openuserodefiles.html.twig' %}
        {% include 'workarea/modals/pages/templateselection.html.twig' %}
    </div>

    {# Toasts #}
    <div class="toasts-container">
        {% include 'workarea/toast/toastDefault.html.twig' %}
    </div>
{% endblock %}
